NEXT_PUBLIC_SUPABASE_URL=https://ftcjrbdvbcnqljamhvam.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Y2pyYmR2YmNucWxqYW1odmFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzMTQyMDEsImV4cCI6MjA3NTg5MDIwMX0.QTgn-0mKISoD_YkwfLh5o6QrXlfkIsSZVsaqWmtb0hw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Y2pyYmR2YmNucWxqYW1odmFtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDMxNDIwMSwiZXhwIjoyMDc1ODkwMjAxfQ.F_O5ivtZ05WwE09706y-LXmpkwFsXXIcitp9wAjpfSs
DATABASE_URL=postgresql://postgres:003326120Se%2C@db.ftcjrbdvbcnqljamhvam.supabase.co:5432/postgres
NEXTAUTH_SECRET=c67588f2bd440c1a9805c6bbe6f4056e
NEXTAUTH_URL=https://synergio.vercel.app